<section class="section is-large">
  <h1 class="title has-text-white"><%= content %></h1>
  <h2 class="subtitle has-text-white">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque aut
    repudiandae assumenda odio a ex minima, soluta fugit temporibus sed dolor,
    in quisquam corrupti praesentium non debitis nihil vel dolorum.
  </h2>
</section>