<footer class="footer has-background-black">
  <div class="content has-text-centered has-text-white">
    <p>Martydevs - Todos los derechos reservados</p>
    <hr />
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut minus ipsa
      reprehenderit labore corporis amet dolorum vero, voluptatem quod sequi
      quaerat cumque incidunt nisi autem asperiores ducimus quasi. Distinctio,
      quis.
    </p>
  </div>
</footer>
