<section class="section is-medium">
  <form class="form container">
    <h3 class="subtitle has-text-white">Contáctame</h3>

    <div class="field">
      <label class="label has-text-white" for="email">Email</label>
      <div class="control">
        <input type="text" class="input" placeholder="ej. jhon.doe@gmail.com" />
      </div>
    </div>

    <div class="field">
      <label class="label has-text-white" for="message">Mensaje</label>
      <div class="control">
        <textarea
          class="textarea has-fixed-size"
          placeholder="ej: hola mundo"
          rows="10"
        ></textarea>
      </div>
    </div>

    <input class="button is-primary" type="submit" value="Enviar" />
    <input class="button is-warning" type="reset" value="Reiniciar" />
  </form>
</section>
