<section class="hero is-black is-medium">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="hero-head title">Martydevs</p>
      <p class="hero-foot subtitle">Lorem ipsum dolor sit amet.</p>
    </div>
  </div>
</section>
